 * {
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
    }

    body {
      background: #f2f5ff;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      background: linear-gradient(to bottom, #6a8dff, #455dff);
      border-radius: 20px;
      width: 300px;
  
      color: white;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

    .score-circle {
      background: white;
      color: #455dff;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 20px auto 20px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .score-circle span {
      font-size: 36px;
      font-weight: bold;
    }

    .score-circle small {
      font-size: 14px;
      color: #888;
    }

    .result-text {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .subtext {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .summary {
      background: white;
      color: #333;
      border-radius: 20px;
      padding: 20px;
    }

    .summary-item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
      font-weight: 500;
    }

    .reaction {
         background-color: #fff6f5;
         color: #d35a5a; }

    .memory   {
         background-color: #fffdef;
         color: #e0c44d; }
    .verbal   { 
        background-color: #f0fbfa; 
        color: #4cc5ab; }
    .visual   { 
        background-color: #f3f3fd;
         color: #5e6ae7; }

    .continue-btn {
      margin-top: 20px;
      background: #303b59;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 30px;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
    }

    .continue-btn:hover {
      background: #1d2845;
    }