
 * {
      box-sizing: border-box;
      font-family: "Hanken Grotesk", sans-serif;
      margin: 0;
      padding: 0px;
    
    }

 .container-body
 {
  /* box-sizing: border-box; */
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh;
  width: auto;
  /* margin: auto, */
 }

.container {
      background:white; 
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: "Hanken Grotesk", sans-serif;
      height: 500px;
      width: 700px;
      gap: 30px;
      border-radius: 30px;
     
     
    }
    #card-1
    {
        background: blue;
        border-radius: 20px;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 30px;
        width: 50%;
        height: 100%;
    }
    #card-2
    {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 30px;
        height: 100%;
        width: 50%;
    }

    #circle {
    
      display: flex;
      background: linear-gradient(180deg, #4e5cf8, #303b59);
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin: 33px 75px 33px 75px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .score-circle span {
      font-size: 83px;
      font-weight: bold;
      color: white;
    }

    .score-circle small {
      font-size: 20px;
      color: #888;
      text-align: center;
    }

    .score-circle{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .summary-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: space-between;
      height: 100%;
      border-radius: 40px;
      font-weight: 500;
      
    }

    .reaction {
      display: flex;
      width: 300px;
        justify-content: space-between;
         background-color: #fff6f5;
         color: #d35a5a;
         padding: 10px 20px;
         border-radius: 30px;
         }

    .memory   {
      display: flex;
        justify-content: space-between;
         background-color: #fffdef;
         color: #e0c44d;
         padding: 10px 20px; 
        width: 300px;
        border-radius: 30px;

       }

    .verbal   { 
      display: flex;
        justify-content: space-between;
        background-color: #f0fbfa; 
        color: #4cc5ab;
        padding: 10px 20px; 
        width: 300px;
        border-radius: 30px;
      }
    .visual   { 
      display: flex;
        justify-content: space-between;
        background-color: #f3f3fd;
         color: #5e6ae7;
        padding: 10px 20px; 
        width: 300px;
        border-radius: 30px;
       }

    .continue-btn {
      margin-bottom: 20px;
      background: #303b59;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 30px;
      width: 300px;
      cursor: pointer;
      font-size: 16px;
    }

    .continue-btn:hover {
      background: #1d2845;
    }
   
   @media screen and (max-width: 768px)
    {

  .container-body
 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
 }

.container {
      background:white; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Hanken Grotesk", sans-serif;
      height:inherit;
      width: inherit;
      border-radius: 30px;
     
    }
    #card-1
    {
        background: blue;
        border-radius: 20px;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
          border-radius: 0px 0px 30px 30px;
        width: inherit;
        height: 100%;
    }
    #card-2
    {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        border-radius: 30px;
        height: 100%;
        width: inherit;
    }

    #circle {
    
      display: flex;
      background: linear-gradient(180deg, #4e5cf8, #303b59);
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin: 0px 75px 0px 75px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .score-circle span {
      font-size: 83px;
      font-weight: bold;
      color: white;
    }

    .score-circle small {
      font-size: 20px;
      color: #888;
      text-align: center;
    }

    .score-circle{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .summary-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      height: 100%;
      border-radius: 40px;
      font-weight: 500;
      
    }

    .reaction {
      display: flex;
      width: 300px;
        justify-content: space-between;
         background-color: #fff6f5;
         color: #d35a5a;
         padding: 20px 20px;
         border-radius: 30px;
         margin: 15px;
         }

    .memory   {
      display: flex;
        justify-content: space-between;
         background-color: #fffdef;
         color: #e0c44d;
         padding: 20px 20px;
        width: 300px;
         margin: 15px;
        border-radius: 30px;

       }

    .verbal   { 
      display: flex;
        justify-content: space-between;
        background-color: #f0fbfa; 
        color: #4cc5ab;
        padding: 20px 20px;
        width: 300px;
         margin: 15px;
        border-radius: 30px;
      }
    .visual   { 
      display: flex;
        justify-content: space-between;
        background-color: #f3f3fd;
         color: #5e6ae7;
        padding: 20px 20px;
        width: 300px;
        margin: 15px;
        border-radius: 30px;
       }

    .continue-btn {
      margin-bottom: 20px;
      background: #303b59;
      color: white;
      padding: 20px 20px;
      border: none;
      border-radius: 30px;
      width: 300px;
      cursor: pointer;
      font-size: 16px;
      margin: 15px;
    }

    .continue-btn:hover {
      background: #1d2845;

    }
    h2{
      margin-top: 15px;
    }
  }